.panel > .table-responsive {
    margin-bottom: 0;
    border: 0;
}

.table {
    margin-bottom: 0;
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
}

.table th {
    border-top: transparent;
}

.table th, .table td {
    padding: 0.50rem;
}